// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  .section {
      background: black;
      color: white;
      border-radius: 1em;
      padding: 1em;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%) }
      ul {
      margin: auto;
      }
      li {
        align-items: center;
        margin: 0;
        padding: 0;
        display: inline;
      }
    }

